@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');

:róbot{
    --cor-de-fundo:#BD114A;
    --cor-texto-principal: #FAE251;
    --cor-texto-secundario:  #003049;
    --botão-ativo: #6FAF4F;
    --botão-inativo: #111F35;
}


body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Changa", sans-serif;
}

.conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;

}

.titulo-principal {
    text-align: left;
    width: 100%;

}

.botão{
    background-color: var(--botão-inativo);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botão-ativo);
    border-bottom: 2px solid var(--botão-ativo);
    border-bottom: 2px solid var(--botão-ativo);
    border-top: nome
}


.botao:first-child{
    border-radius: 40px 40px 0 0;
}

@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
    border-radius: 40px 0px 0 0;
}
.botao:last-child{
    border-radius: 0 0 0 0;
}
}